<div class="junbotron" style="padding: 45px 0px;">
  <h4 class="text-center">To Do List
  </h4>
</div>

<div class="input-group">
  <input type="text" class="form-control" #itemTitle>
  <div class="input-group-addon hover-cursor" (click)="onAdd(itemTitle)">
    <fa-icon [icon]="faCoffee"></fa-icon>
  </div>
</div>

<div style="margin: 5px 0px;">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of toDoListArray">

      <span class="hover-cursor" (click)="checky(item.ischecked, item.$key)">
        <fa-icon *ngIf="item.ischecked" [icon]="faAddressBook"></fa-icon>
        <fa-icon *ngIf="!item.ischecked" [icon]="faCoffee"></fa-icon>
      </span>
      {{ item.title }}
    </li>
  </ul>
</div>